* {
    box-sizing: border-box;
    margin: 0;
}

*::selection {
    background-color: black;
    color: white;
}

img {
    user-select: none;
}

html, body {
    overscroll-behavior: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(251 195 1);
    margin: 2vw;
}

main {
    position: relative;
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > img {
    width: 100%;
    border: 24px solid white;
}

main > h1 {
    background-color: white;
    text-transform: uppercase;
    font-size: 6vw;
    padding: .1em .5em;
    width: max-content;
    font-weight: 900;
    transform: translateY(-50%);
}